.h1Landingpage,
.landingpageSpan {
    font-family: 'Notable', sans-serif;
    color: #9b9b9b;
}
.h1Landingpage {
    font-size: 22px;
    color: #caa532;
}
.landingpageSpan {
    font-size: 20px;
    color: #caa532;
}
.myIcons:hover {
    color: #caa532;
}