.cvPDFImg {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 100%;
}
.resume-btn {
    text-decoration: none;
    background-color: #222529;
    color: #9b9b9b;
    border: 3px solid #CAA532;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 3vh 0;
}
.resume-btn:hover,
.a-resume:hover {
    border-color:white;
    color: #CAA532;
}