.marginTop {
    margin-top: 60px;
}
.iconMarginTop{
    margin-top: 2rem !important;
    text-align: center;
}
.mySmallPadding {
    padding: 1.2rem 0 0 1rem;
}
.h1About,
.h1AboutMediaQuery {
    font-size: 3.625rem;
    /* text-align: end; */
    font-family: 'Notable', sans-serif;
    margin: 0 0 30px;
    color: #9b9b9b;
}
.photo {
    width: 100%;
    display: flex;
    align-items: center;
}
.meImg {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
}
.myIcons a{
    text-align: center;
    color: #9b9b9b;
    font-size: 1.563rem;
    margin: 0 20%;
}
.myIcons a:hover{
    color: #caa532;
}
.textArea_noPadding {
    padding: 0;
    font-size: 1.375rem;
    color: #c4c4c4;
}
.textArea{
    padding: 0 0 0 80px;
}
.textArea p {
    font-size: 1.375rem;
    color: #c4c4c4;
}
.specialText {
    font-family: 'Notable', sans-serif;
    color: #caa532;
    letter-spacing: 3px;
}
.aboutTextAnswer{
    padding-left: 40px;
    color: #caa532 !important;
}
cite {
    color: #caa532;
}
/* Media Queries */  

/* below 520px */
@media (max-width: 520.98px) {
    .meImg {
        width: 40%;
    }
    .h1About {
        display: none;
    }
    .h1AboutMediaQuery {
        font-size: 1.2rem;
        text-align: start;
        margin: 5vh 0vw;
    }
    .textArea {
        padding: 0;
    }
    p.aboutText {
        font-size: 1rem;
    }
    .specialText {
        font-size: .9rem;
    }
    p.aboutTextAnswer {
        font-size: 1.1rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 520.99px) and (max-width: 767.98px) {
    .meImg {
        width: 40%;
        max-width: 400px;
    }
    .h1About {
        display: none;
    }
    .h1AboutMediaQuery {
        font-size: 1.2rem;
        text-align: start;
        margin: 5vh 0vw;
    }
    .textArea{
        padding: 0;
    }
    p.aboutText {
        font-size: 1rem;
        color: #c4c4c4;
        padding-left: 5vw;
    }
    p.aboutTextAnswer {
        margin: 0vh 5vw;
        font-size: 1.1rem;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
    .meImg {
        width: 30%;
        max-width: 400px;
    }
    .h1About {
        display: none;
    }
    .h1AboutMediaQuery {
        font-size: 2rem;
        text-align: start;
        margin: 5vh 0vw;
    }
    .textArea{
        padding: 0;
    }
    p.aboutText {
        font-size: 1rem;
        color: #c4c4c4;
        padding-left: 5vw;
    }
    p.aboutTextAnswer {
        margin: 0vh 5vw;
        font-size: 1.1rem;
    }
}
/* over 992.99px */
@media (min-width: 991.99px) {
    .h1AboutMediaQuery {
        display: none;
    }
}