a.homeLink {
    font-family: 'Notable', sans-serif;
    font-size: 3rem;
}
a.projectsLink {
    font-family: 'Notable', sans-serif;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.openToWork {
    text-align: center !important;
    padding: 4rem;
    
}
.myGray {
    color: #9b9b9b !important;
    font-size: 2.375rem !important;
    /* padding-left: 5% !important; */
}
.myGray:hover {
    color: #caa532 !important;
}
.h1Header,
.h2Header {
    font-family: 'Notable', sans-serif;
    font-size: 2.375rem;
    color: #9b9b9b;
    /* padding-left: 5%; */
}
.h1Header {
    margin: 3vh 0 1vh;
}
.h2Header {
    margin: 3vh 0 1vh;
}
.homeText {
    text-align: justify;
    color: #9b9b9b;
}
.myIcons {
    color: #caa532;
}
.myIcons:hover,
.homeLink:hover,
.projectsLink:hover {
    color: white !important;
}
.greeting {
    color: #caa532 !important;
    font-weight: 700 !important;
    font-size: 1.25rem !important;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.myTitle {
    font-size: 2rem;
    font-family: 'Notable', sans-serif;
    letter-spacing: 2px;
}

.cardCenterPadding {
    margin-right: 20px;
}
.email {
    margin-left: 10px;
}
/* Media Queries */  

/* below 520px */
@media (max-width: 520.98px) {
    a.homeLink {
        font-size: 1.2rem;
    }
    .h1Header,
    .h2Header {
        font-size: .9rem;
    }
    .homeText {
        font-size: 1rem;
    }
}
/* below 575.98px */
@media (min-width: 520.99px) and (max-width: 767.98px) {
    .h1Header,
    .h2Header {
        font-size: 1.3rem;
    }
    a.homeLink {
        font-size: 1.4rem;
    }
    p {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
    .h1Header,
    .h2Header {
        font-size: 1.4rem;
    }
    a.homeLink {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.1rem;
    }
}