.contactContainer {
    margin: 10vh 0 15vh;
}
.contactImg {
    width: 70%;
}
.myEnvelope {
    width: 10%;
}
.ContactArea {
    font-family: 'Notable', sans-serif;
    color: #9b9b9b;
    letter-spacing: 3px;
    font-size: 4rem;
    text-align: center;
    padding: 3vh;
}
form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    font-size: 16px;
}
label{
    margin-top: 1rem;
    font-family: 'Notable', sans-serif;
    color: #caa532;
    letter-spacing: 3px;
}
input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: #caa532;
    color: white;
    border: none;
}
textarea {
    background-color: #9b9b9b !important;
    border: none !important;
    color: white !important;
    height: 200px;
}
::placeholder {
    color: black !important;
}

/* Media Queries */
@media (max-width: 576px) {
    .contactImg {
        width: 35% !important;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    label {
        font-size: .8rem;
    }
    form {
        width: 90%;
    }
    .form-control {
        padding: 0.175rem 0.45rem !important;
    }
    .contactImg {
        width: 70%;
    }
}
/* over 992.99px */
@media (min-width: 767.99px) {
    form {
        width: 50%;
    }
}