.nav-background {
    background-color: #222529;
}
.navbar>.container-fluid {
    justify-content: end !important;
}
.navbar-nav {
    text-align: end;
}
.nav-style {
    padding: 4vh 0 2vh;
}
.my-nav-link {
    color: #9b9b9b !important;
    margin-right: 1.5vw;
    font-family: 'Notable', sans-serif;
    letter-spacing: 3px;
    font-size: 1rem !important;
}
.my-nav-link:hover {
    color: #CAA532 !important;
}
.my-border {
    border-style: solid;
    border-color: #CAA532;
    border-radius: 10px;
    padding: 5px 10px;
}
.my-resume {
    text-decoration: none;
    background-color: #222529;
    color: #9b9b9b;
    border: 3px solid #CAA532;
    border-radius: 10px;
}
.my-resume:hover {
    border-color:white; 
}
.a-resume {
    text-decoration: none;
    background-color: #222529;
    color: #9b9b9b;
    font-family: 'Notable', sans-serif;
    letter-spacing: 3px;
    font-size: 0.75rem;
}
.a-resume:hover {
    color: #9b9b9b;
}

@media (max-width: 767.98px) {
    .my-resume {
        border: none;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
   .my-nav-link {
    font-size: .8rem !important;
   }
}
