.footerContainer {
    border-top: 2px solid #caa532;
    margin: 10vh 0vw 4vh;
}
.myIcons a {
    font-size: 1.25rem;
}
.myIcons a:hover{
    color: white !important;
}
.myFooterH5 {
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Notable', sans-serif;
    color: #9b9b9b;
}

/* Media Queries */  

/* below 520px */
@media (max-width: 520.98px) {
    .myFooterH5h {
        display: none;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 520.99px) and (max-width: 767.98px) {
    
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {

}
/* over 992.99px */
@media (min-width: 991.99px) {
    
}





@media (max-width: 991.98px) {
    .myFooterH5 {
        font-size: 0.6rem;
    }
    .myFooterH5 a {
        font-size: 1.1rem;
    }
}