html {
  /*14 px = 0.875rem*/
  font-size: .875rem;
}
html::-webkit-scrollbar {
  width: 2vh;
}
html::-webkit-scrollbar-thumb {
  /*background-color: #caa532;*/
  background-color: #595958;
}
html::-webkit-scrollbar-track {
  background-color: #9b9b9b;
}
body {
  margin: 0;
  padding: 0 5vw;
  background-color: #222529 !important;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 900;
  font-size: 1.15rem;
  color:#caa532 !important;
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: 1.375rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myH1 {
  font-size: 2.375rem;
  text-align: center;
  font-family: 'Notable', sans-serif;
  color: #9b9b9b;
  margin: 1vh 0vw 2vh;
}
.myUppercase {
  text-transform: uppercase;
}

/* Media Queries */  

/* below 520px */
@media (max-width: 520.98px) {
  .desktop,
  .resume-btn {
      display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 520.99px) and (max-width: 767.98px) {
  .desktop,
  .resume-btn {
      display: none;
  }
  
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .desktop {
      display: none;
  }
  .myH1 {
    font-size:2rem;
    margin: 3vh 0vw 3vh;
  }
}
/* over 992.99px */
@media (min-width: 991.99px) {
  .mobile {
    display: none;
  }
}

