*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1Table {
    font-size:1.5rem;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Notable', sans-serif;
    color: #9b9b9b;
}
.h4Table {
    font-size:1.125rem;
    text-align: start;
    letter-spacing: 3px;
    font-family: 'Notable', sans-serif;
    color: #caa532;
}
.tableContainerAcademics {
    margin: 40px auto 0;
}
.trBottomBorder {
    border-bottom: 2px solid gray;
}
.table tbody tr td {
    text-align: right;
    padding-left: 15%;
    padding-right: 0;;
    position: relative;
}
tr {
    width: 100%;
    display: table-row;
}
table {
    display: table;
    caption-side: bottom;
    border-collapse: collapse;
}
thead th {
    font-family: 'Notable', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
}
th, td {
    border-bottom: 1px solid white !important;
    text-align: left;
    padding: 15px 10px 0px 0px;
    color: #caa532;
}
td {
    vertical-align: top;
}
td:nth-child(3){
    color: white;
    font-style: italic;    
}

@media (max-width: 768px){
.table th{
display: none;
}
}
.table,
.table tbody,
.table tr,
.table td {
    display: block;
    width: 100%;
}
.table tr {
    margin-bottom: 15px;
}
.table tbody tr td {
    text-align: left;
    padding-left: 30%;
    padding-right: 0;
    position: relative;
}
.table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 25%;
    padding-left: 0;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}